.personForm {
  border: 1px solid black;
  margin-top: 20px;  
  padding: 15px;
  border-radius: 20px;  
  box-shadow: 0px 1px 5px 0px;
}

form div{  
  display: flex;
  flex-direction: column;   
}

form button{
  background-color: rgb(126, 126, 223);
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-left: 120px;
  position: relative;
  align-self: center;
  color: white;
  font-weight: bold;  
}
